{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for article in articles %}
        <li><a href="{{ path("article_show", {slug: article.slug}) }}">{{ article.title }} - {{ article.countView }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
